
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table class="table table-condensed">
    <tr style:"font-weight:bold" >
        <td>
            Exam
        </td>
        <td>
            Board
        </td>
        <td>
            Year
        </td>
    </tr>
    <tr>
        <td>
            SSC
        </td>
        <td>
            Rajshahi
        </td>
        <td>
            2016
        </td>
    </tr>
    <tr>
        <td>
            HSC
        </td>
        <td>
            Rajshahi
        </td>
        <td>
            2018
        </td>
    </tr>
</table>
