
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>
<strong>Father's Name : </strong> Anisur Rahman <br />
<strong>Mother's Name : </strong> Rasni Begum <br />
<strong>Address: </strong> Naogaon, Rajshahi, Bangladesh <br />
<strong>Mobile: </strong> 01711241141 <br />



