
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<li><strong>Database: </strong> Hospital Management System </li>
<li><strong>WebTech: </strong> Retail Management System </li>
<li><strong>.Net: </strong> Ecommerce Management System </li>


