
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<strong>Name: </strong> Tanvir Ahmed <br />
<strong>email: </strong> tanvir.ahmed@aiub.edu <br />
<strong>Designation: </strong> Lecturer, Computer Science <br />
<strong>Institution: </strong> AIUB

